body {
    margin: 0;
    background-color: #ece6dc;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    display: flex;
    align-items: start;
    min-width: 45vw;
}

header .title{
    color: #867b72;
    font-weight: bold;
}

header .title h1{
    font-size: 3rem;
}

header .title span{
    font-size: 1.2rem;
}

header .info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: auto;
}

header .info > * {
    background-color: #a08f7c;
    color: #fff;
    padding: .5rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    text-align: center;
}

header .info .newGameButton:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.board{
    margin-top: 2rem;
    width: 70vh;
    height: 70vh;
    background-color: #bbada0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.board .slots{
    grid-area: 1/1;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 15px;
}

.board .slots .slot{
    background-color: #eee4da59;
    border-radius: 6px;
}

.board .tiles{
    grid-area: 1/1;
    position: relative;
}

.board .tiles .tile{
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 6px;
    background-color: #eee4da;
    color: #776e65;
    font-size: 3rem;
    font-weight: 600;
}